$primary: #a65cf0;
$primary-light: #c998fb;
$primary-shade: #7033ac;
$pink-light: #f8efff;
$pink-violet: #ebd1ff;
$secondary: #ff862f;
$secondary-light: #ffbd59;
$secondary-shade: #bb370e;
$red-input: #ff6972;
$green-input: #b8ec64;
$white: #fff;
$grey-light: #f7f7f7;
$grey-middle: #eaeaea;
$grey: #999;
$grey-shade: #666;
$black: #333;
$black-transp: rgba(0, 0, 0, 0.2);
$bone: #fff5d1;
$white: #fff;
$gold: #D5B986;

$font-size-xl: 32px;
$font-size-l: 24px;
$font-size-m: 16px;
$font-size-s: 14px;