@import '../common/variables';

.hero__swiper-pagination {
  display: flex;
  width: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.swiper-pagination-bullet-custom {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}

.swiper-pagination-bullet-custom:focus-within {
  outline: 1px solid $primary;
}

.swiper-pagination-bullet-custom::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $white;
  border-radius: 50%;
  background-color: transparent;
  content: '';
  transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-custom svg {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.swiper-pagination-bullet-custom--active svg {
  display: block;
}

.swiper-pagination-bullet-custom--active svg circle {
  animation: BulletProgress 5000ms linear forwards;
  stroke-dasharray: 56.5563;
  stroke-dashoffset: 56.5563;
}

@keyframes BulletProgress {
  to {
    stroke-dashoffset: 0;
  }
}